.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 500px;
  min-width: 300px;
  border: 1px solid #000;
}

.calc-display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column: 1/5;
  padding-bottom: 10px;
  padding-right: 8px;
  height: 50px;
  font-size: 1.5em;
  background-color: #858694;
  color: #fff;
}

.keypad {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.orange-button,
.grey-button,
.zero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #d1d1d1;
  height: 70px;
  cursor: pointer;
}

.button {
  user-select: none;
}

.orange-button {
  background-color: #f5913e;
}

.grey-button,
.zero-button {
  background-color: #e0e0e0;
}

.zero-button {
  grid-column: 1/3;
}
